html { 
    //WAIT! ... Where are the planes ? :'(   Where's the Piper J-3 ? 
    background: url(../images/Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#wrapper{
    display: block;
    margin: 0 auto;
    width: 1592px;
}

/*-------------------------- MENU ---------------------------*/
#menu{
    padding-top:97px;

    //common parts between the two menus
    
    #main-menu,
    #second-menu{ 
        list-style-type: none;
        padding:0;
        font-size:0;
        display: flex;
        flex-direction:row;

        li{
            padding:0;
            font-size:0;
            background-color:rgba(0, 0, 0, 0.5);

            &.selected{
                background-color:rgba(255, 255, 255, 0.5);

                a{
                    color:#000000;
                }
            }
    
            a{
                width: 100%;
                height: 100%;
                display: block;
                text-align:center;
                text-transform: uppercase;
                text-decoration:none;
                color: #ffffff;
                font-family: "Roboto";
                font-weight: 100;
            }
        }
    }
    
    //specific rules
    #main-menu{
        justify-content: space-between;
        
        li{
            width:377px;
            height:40px; 
            transition: letter-spacing .33s;

            &:hover{
                letter-spacing:2px;
                background-color: rgba(0, 0, 0, 1);
            }

            &:active{
                background-color:#ffffff;
                a{
                    color:#000000;
                }
            }

            &.selected{

                &:hover{
                    background-color:rgba(255, 255, 255, 0.5);
                }

                &:active{
                    background-color:rgba(255, 255, 255, 1);
                }

                a{
                    letter-spacing:1px;
                    font-size:28px;
                    font-weight:900;
                    line-height:1.35;
                }
            }

            a{
                font-size:26px;
                line-height:1.5;
            }
        }
    }

    #second-menu{
        margin-top:22px;
        margin-bottom:20px;
        justify-content: center;
        transition:animation .5s;

        &.fade-out{
            animation: fade-out 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        li{
            height:29px;
            margin-right:15px;
            width:190px;
            position: relative;
            overflow: hidden;

            &:last-child{
                margin-right:0;
            }

            &::after, &::before{
                content:'';
                position: absolute;
                width: 100%;
                height:1px;
                background-color:#ffffff;
                transition:all .3s;
            }

            &::before{
                top:0;
                transform:translateX(-100%);
            }

            &::after{
                bottom:0;
                transform:translateX(100%);
            }

            &:hover{
                &::before, &::after{
                    transform: translateX(0);
                }
            }

            &:active{
                background-color: rgba(255, 255, 255, 0.5);
            }

            &.selected{
                width:378px;
                
                a{
                    font-size:24px;
                    font-weight:500;
                    word-spacing: 2px;
                    line-height:1.2;
                }
            }

            a{
                font-size:20px;
                font-weight:normal;
                line-height:1.4;
                color:#ffffff;
            }
        }
    }
}
/*-------------------------- END MENU ---------------------------*/

/*-------------------------- TILES ---------------------------*/

#tiles-section{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a{
        text-decoration:none;
        margin-bottom:38px;
    }

    .tile{
        height:356px;
        width: 510px;
        background-color:rgba(0, 0, 0, 0.5);
        border-top:1px solid #ffffff;
        border-bottom:1px solid #ffffff;
        position: relative;
        transition: all 1s;
        transform-origin:0% 50%;

        &::before, &::after{
            content:'';
            position: absolute;
            height: 100%;
            top:0;
            width:1px;
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,0) 12%, rgba(255,255,255,0) 88%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
            z-index:3;
            transition: all 1s;
        }

        &.choosen{
            background-color:#0B5AE3;
        }

        &::before{
            left:0;
        }

        &::after{
            right:0;
        }

        &:hover{
            transform:rotateX(5deg) rotateY(-5deg) rotateZ(0deg) !important;
            background-color:rgba(0, 0, 0, .0);

            &.choosen{
                background-color:#0B5AE3;
            }

            &::after, &::before{
                background:#ffffff;
            }
        }
        
        .tile-container{
            padding:12px;
            box-sizing: border-box;

            header{
                height:82px;
                width:100%;
                background-color:rgba(0, 0, 0, 0.5);

                h2{
                    text-transform: uppercase;
                    font-family: 'Roboto';
                    margin:0;
                    font-size:30px;
                    padding-left:10px;
                    line-height:1.6;
                    color:#ffffff;
                    font-weight: 100;

                    strong{
                        font-weight: 500;
                    }
                }
            }

            .bg{
                position: relative;
                width:100%;
                height:244px;
                display: block;
                margin: 0 auto;
                margin-top:10px;

                img{
                    width: 100%;
                }

                p{
                    margin:0;
                    color:#ffffff;
                    font-family: "Roboto";
                    font-weight:500;
                    padding:10px;
                    background-color:rgba(0, 0, 0, 0.5);
                    font-size:16px;
                    line-height:1.25;
                    max-width:100%;
                    position: absolute;
                    display: block;
                    bottom:3px;
                }
            }
        }

        &.big{
            width:1052px;
            background:rgba(255, 255, 255, 0.5);

            &:hover{
                background-color: rgba(255, 255, 255, 0);
                border-top-color: #000;
                border-bottom-color:#000;

                &::before, &::after{
                    background:#000;
                }
            }

            .tile-container{
                padding:10px;

                header{
                    background-color:#dee0e3;

                    h2{
                        font-weight: 100;
                        margin-left:15px;
                        font-size:55px;
                        line-height:1.5;
                        padding:0;
                        color:#000000;
                    }
                }

                .bg{
                    p{
                        position: absolute;
                        right:37px !important;
                        bottom:0;
                        width:500px;
                        height:100px;
                    }
                }
            }
        }
    }
}

/*-------------------------- END TILES ---------------------------*/

/*-------------------------- APPARITION ANIM ---------------------------*/
#apparition-anim{
    
    #left, #right{
        display: block;
        width: 50vw;
        position: absolute;
        top:0;
        height:100vh;
        z-index:10;
    }

    #left{
        background-color:#000000;
        left:0;
        transition: all .5s;

        &.move{
	        animation: slide-rotate-ver-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    #right{
        background-color:#000000;
        right:0;

        &.move{
	        animation: slide-rotate-ver-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }    
}

@keyframes slide-rotate-ver-left {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
                transform: translateX(0) rotateY(0);
                
    }
    100% {
        -webkit-transform: translateX(-50%) rotateY(90deg);
                transform: translateX(-50%) rotateY(90deg);
    }
}

@keyframes slide-rotate-ver-right {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
                transform: translateX(0) rotateY(0);
    }
    100% {
        -webkit-transform: translateX(50%) rotateY(90deg);
                transform: translateX(50%) rotateY(90deg);
    }
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes fall-out{
    0%{
        opacity:1;
        transform:translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100%{
        opacity: 0;
        transform: translateY(150px) rotateX(54deg) rotateY(335deg) rotateZ(68deg);
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*-------------------------- END APPARITION ANIM ---------------------------*/