<a href="javascript:void(0);">
  <article class="tile">
    <div class="tile-container">
      <header>
        <h2><strong>dolor</strong> sit</h2>
      </header>
      <div class="bg">
        <img src="images/Tile_image_2.png" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed aliquam ex. Quisque sed purus maximus, vulputate augue et, molestie nunc. Quisque in vulputate est...
        </p>
      </div>
    </div>
  </article>
</a>